/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #d63939;
    color: #333;
}

header {
    background-color: #e78181;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(189, 172, 172, 0.1);
}

footer {
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fafafa;
}

/* Hero Section Styles */
.hero {
    text-align: center;
    padding: 100px 0;
    background-image: url('your-hero-image.jpg');
    background-size: cover;
    color: #fff;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.about-content {
    padding: auto;
    margin: auto;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #ffa500;
}
